In [31]:
from pandas import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)

Series
======

In [10]:
labels = ['a', 'b', 'c', 'd', 'e']
s = Series(np.random.randn(5), index=labels)
s

a   -0.065290
b   -0.936826
c   -1.484684
d    0.259083
e    1.159198
dtype: float64

In [16]:
mapping = s.to_dict()
mapping

{'a': -0.065289626566906234,
 'b': -0.93682585219268655,
 'c': -1.4846843245857406,
 'd': 0.2590828082734638,
 'e': 1.1591978126950462}

In [24]:
s = Series(mapping, index = ['a','b', 'c', 'd', 'f'])
s

a   -0.065290
b   -0.936826
c   -1.484684
d    0.259083
f         NaN
dtype: float64

In [3]:
'b' in s

In [25]:
isnull(s)

a    False
b    False
c    False
d    False
f     True
dtype: bool

In [26]:
s[notnull(s)]

a   -0.065290
b   -0.936826
c   -1.484684
d    0.259083
dtype: float64

In [4]:
s['b']

In [5]:
s

In [6]:
mapping = s.to_dict()
mapping

In [7]:
s = Series(mapping)
s

In [27]:
s[:3]

a   -0.065290
b   -0.936826
c   -1.484684
dtype: float64

In [28]:
s.index

Index([u'a', u'b', u'c', u'd', u'f'], dtype='object')

DataFrame: 2D collection of Series
==================================

In [32]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)})
df

          a    b         c
0  1.147247  foo  1.055841
1 -0.575720  bar  0.432459
2 -0.463252  foo -0.743879
3 -0.371925  bar  1.225403
4 -0.474976  foo  0.051001
5  0.460368  bar  0.247980

In [42]:
df.ix

In [43]:
df.columns

Index([u'a', u'b', u'c'], dtype='object')

In [46]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               index=pd.date_range('1/1/2000', periods=6))
df

                   a    b         c
2000-01-01 -0.143404  foo -1.343915
2000-01-02  0.556818  bar -0.886236
2000-01-03 -0.034149  foo  1.032379
2000-01-04  0.565273  bar  0.092938
2000-01-05 -0.164385  foo  0.982198
2000-01-06  0.230160  bar -0.896309

In [14]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               columns=['a', 'b', 'c', 'd'])
df

Creation from nested dicts
--------------------------

These arise naturally in Python code

In [15]:
data = {}
for col in ['foo', 'bar', 'baz']:
    for row in ['a', 'b', 'c', 'd']:
        data.setdefault(col, {})[row] = randn()
data

In [16]:
DataFrame(data)

Data alignment
==============

In [47]:
close_px = read_csv('stock_data.csv', index_col=0, parse_dates=True)

In [48]:
close_px

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32
2007-11-05  35.22  186.18  34.15  105.48  56.70  33.77  64.84  1502.17  80.07
2007-11-06  35.84  191.79  34.14  105.27  56.80  33.47  65.49  1520.27  82.56
2007-11-07  34.76  186.30  33.20  103.69  56.19  32.65  64.46  1475.62  79.96
2007-11-08  35.00  175.47  33.15   99.05  56.79  31.94  65.50  1474.77  82.00
2007-11-09  34.47  165.37  32.61   93.58  57.29  31.01  65.48  1453.70  79.64
2007-11-12  33.33  153.76  32.50   94.70  58.30  30.69  64.67  1439.18  77.52
2007-11-13  34.04  169.96  33.31   98.27  59.18  31.79  65.35  1481.05  79.67
2007-11-14  34.25  166.11  33.14   96.56  58.81  31.30  65.99  1470.58  79.15
2007-11-15  33.76  164.30  32.55   96.71  58.80  31.14  65.57  1451.15  77.48
2007-11-16  33.74  166.39  32.84   97.82  59.56  31.44  66.08  1458.74  78.04
2007-11-19  32.59  163.95  32.42   95.42  59.42  31.32  66.90  1433.27  77.13
2007-11-20  32.88  168.85  32.32   96.54  59.47  31.90  66.69  1439.70  80.53
2007-11-21  32.68  168.46  31.58   95.42  59.03  31.57  66.87  1416.77  79.82
2007-11-23  32.66  171.54  32.01   97.13  59.16  31.46  67.29  1440.70  80.96
2007-11-26  32.41  172.54  31.21   95.19  59.60  30.41  66.56  1407.22  78.57
2007-11-27  32.56  174.81  31.82   96.92  59.92  30.49  67.65  1428.23  79.21
2007-11-28  33.65  180.22  32.68  100.23  60.46  31.08  68.76  1469.02  80.62
2007-11-29  33.97  184.29  32.40  100.35  60.51  30.98  68.20  1469.72  81.24
2007-11-30  33.80  182.22  32.53   98.18  59.93  30.99  68.78  1481.14  81.76
2007-12-03  32.98  178.86  31.38   98.79  59.90  30.36  68.24  1472.42  81.48
2007-12-04  32.76  179.81  30.80   99.54  60.10  30.23  68.30  1462.79  80.81
2007-12-05  33.09  185.50  31.19  100.97  60.34  31.50  68.30  1485.01  82.46
2007-12-06  33.32  189.95  31.66  102.40  60.42  31.87  68.98  1507.34  83.85
2007-12-07  34.30  194.30  31.63  101.62  59.87  31.85  68.95  1504.66  83.91
2007-12-10  35.17  194.21  31.78  102.11  59.97  32.06  69.20  1515.96  84.39
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-09-02  12.04  374.05  15.61  166.98  64.07  25.80  63.30  1173.97  72.14
2011-09-06  11.77  379.74  15.11  165.11  64.64  25.51  62.45  1165.24  71.15
2011-09-07  12.25  383.93  15.65  167.31  65.43  26.00  61.62  1198.62  73.65
2011-09-08  12.03  384.14  15.44  165.25  64.95  26.22  61.34  1185.90  72.82
2011-09-09  11.58  377.48  14.95  161.37  63.64  25.74  59.99  1154.23  71.01
2011-09-12  11.55  379.94  14.87  162.42  63.59  25.89  60.14  1162.27  71.84
2011-09-13  11.63  384.62  15.26  163.43  63.61  26.04  60.54  1172.87  71.65
2011-09-14  11.73  389.30  15.64  167.24  63.73  26.50  61.58  1188.68  72.64
2011-09-15  11.98  392.96  16.08  170.09  64.40  26.99  63.22  1209.11  74.01
2011-09-16  11.97  400.50  16.33  172.99  64.59  27.12  62.05  1216.01  74.55
2011-09-19  11.58  411.63  16.18  173.13  64.14  27.21  60.56  1204.09  73.70
2011-09-20  11.25  413.45  16.04  174.72  64.22  26.98  60.39  1202.09  74.01
2011-09-21  10.84  412.14  15.38  173.02  63.13  25.99  60.79  1166.76  71.97
2011-09-22  10.11  401.82  15.04  168.62  61.92  25.06  60.92  1129.56  69.24
2011-09-23  10.07  404.30  15.21  169.34  61.59  25.06  60.34  1136.43  69.31
2011-09-26  10.45  403.17  15.57  174.51  62.69  25.44  61.89  1162.95  71.72
2011-09-27  10.48  399.26  15.76  177.71  63.82  25.67  62.43  1175.38  72.91
2011-09-28   9.97  397.01  15.45  177.55  63.25  25.58  61.97  1151.06  72.07
2011-09-29  10.06  390.57  15.86  179.17  63.90  25.45  62.58  1160.40  73.88
2011-09-30   9.57  381.32  15.22  174.87  63.69  24.89  61.90  1131.42  72.63
2011-10-03   8.90  374.60  14.69  173.29  62.08  24.53  60.29  1099.23  71.15
2011-10-04   9.12  372.50  14.86  174.74  62.17  25.34  60.45  1123.95  72.83
2011-10-05   9.37  378.25  15.27  176.85  62.35  25.89  60.29  1144.03  73.95
2011-10-06   9.88  377.37  15.53  181.69  62.81  26.34  60.57  1164.97  73.89
2011-10-07   9.71  369.80  15.50  182.39  63.13  26.25  61.02  1155.46  73.56
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[1000 rows x 9 columns]

In [49]:
s1 = close_px['AAPL'][-20:]
s2 = close_px['AAPL'][-25:-10]
side_by_side(s1, s2)

2011-09-19    411.63          2011-09-12    379.94
2011-09-20    413.45          2011-09-13    384.62
2011-09-21    412.14          2011-09-14    389.30
2011-09-22    401.82          2011-09-15    392.96
2011-09-23    404.30          2011-09-16    400.50
2011-09-26    403.17          2011-09-19    411.63
2011-09-27    399.26          2011-09-20    413.45
2011-09-28    397.01          2011-09-21    412.14
2011-09-29    390.57          2011-09-22    401.82
2011-09-30    381.32          2011-09-23    404.30
2011-10-03    374.60          2011-09-26    403.17
2011-10-04    372.50          2011-09-27    399.26
2011-10-05    378.25          2011-09-28    397.01
2011-10-06    377.37          2011-09-29    390.57
2011-10-07    369.80          2011-09-30    381.32
2011-10-10    388.81          Name: AAPL, dtype: float64
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

In [50]:
s1 + s2

2011-09-12       NaN
2011-09-13       NaN
2011-09-14       NaN
2011-09-15       NaN
2011-09-16       NaN
2011-09-19    823.26
2011-09-20    826.90
2011-09-21    824.28
2011-09-22    803.64
2011-09-23    808.60
2011-09-26    806.34
2011-09-27    798.52
2011-09-28    794.02
2011-09-29    781.14
2011-09-30    762.64
2011-10-03       NaN
2011-10-04       NaN
2011-10-05       NaN
2011-10-06       NaN
2011-10-07       NaN
2011-10-10       NaN
2011-10-11       NaN
2011-10-12       NaN
2011-10-13       NaN
2011-10-14       NaN
Name: AAPL, dtype: float64

In [52]:
df = close_px.ix[-10:, :3]
df

               AA    AAPL     GE
2011-10-03   8.90  374.60  14.69
2011-10-04   9.12  372.50  14.86
2011-10-05   9.37  378.25  15.27
2011-10-06   9.88  377.37  15.53
2011-10-07   9.71  369.80  15.50
2011-10-10  10.09  388.81  16.14
2011-10-11  10.30  400.29  16.14
2011-10-12  10.05  402.19  16.40
2011-10-13  10.10  408.43  16.22
2011-10-14  10.26  422.00  16.60

In [53]:
side_by_side(s1.reindex(s2.index), s2)

2011-09-12       NaN          2011-09-12    379.94
2011-09-13       NaN          2011-09-13    384.62
2011-09-14       NaN          2011-09-14    389.30
2011-09-15       NaN          2011-09-15    392.96
2011-09-16       NaN          2011-09-16    400.50
2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [23]:
b, c  = s1.align(s2, join='inner')
side_by_side(b, c)

In [24]:
b, c  = s1.align(s2, join='outer')
side_by_side(b, c)

In [25]:
b, c  = s1.align(s2, join='right')
side_by_side(b, c)

In [26]:
df = close_px.ix[-10:, ['AAPL', 'IBM', 'MSFT']]
df

In [27]:
df2 = df.ix[::2, ['IBM', 'MSFT']]
side_by_side(df, df2)

In [28]:
df + df2

In [29]:
b, c = df.align(df2, join='inner')
side_by_side(b, c)

Transposing: no copy if all columns are same type
-------------------------------------------------

In [30]:
df[:5].T

Columns can be any type
-----------------------

In [31]:
n = 10
foo = DataFrame(index=range(n))
foo['floats'] = np.random.randn(n)
foo['ints'] = np.arange(n)
foo['strings'] = ['foo', 'bar'] * (n / 2)
foo['bools'] = foo['floats'] > 0
foo['objects'] = DateRange('1/1/2000', periods=n)
foo

In [32]:
foo.dtypes

N.B. transposing is not roundtrippable in this case (column-oriented data structure)

In [33]:
foo.T.T

In [34]:
foo.T.T.dtypes

Function application
====================

You can apply arbitrary functions to the rows or columns of a DataFrame

In [35]:
df.apply(np.mean)

In [36]:
df.apply(np.mean, axis=1)

You can get as fancy as you want

In [37]:
close_px

In [38]:
def peak_date(series):
    return series.index[series.argmax()]
close_px.apply(peak_date)

In [39]:
df.apply(lambda x: x.max() - x.min()) # np.ptp

In [40]:
np.log(close_px)

Plotting
========

Some basic plotting integration with matplotlib in Series / DataFrame

In [41]:
close_px[['AAPL', 'IBM', 'MSFT', 'XOM']].plot()

In [42]:
rets.ix[-1]

In [43]:
close_px.ix[-1].plot(kind='bar')
title('Prices on %s' % close_px.index[-1])
axhline(0)

Hierarchical indexing
---------------------

In [44]:
index = MultiIndex(levels=[['foo', 'bar', 'baz', 'qux'],
                                   ['one', 'two', 'three']],
                           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3, 3],
                                   [0, 1, 2, 0, 1, 1, 2, 0, 1, 2]])
hdf = DataFrame(np.random.randn(10, 3), index=index,
                columns=['A', 'B', 'C'])
hdf

In [45]:
hdf.ix['foo']

In [46]:
hdf.ix['foo'] = 0
hdf

In [47]:
hdf.ix['foo', 'three']

Stacking and unstacking
-----------------------

In [48]:
tuples = zip(*[['bar', 'bar', 'baz', 'baz',
                'foo', 'foo', 'qux', 'qux'],
               ['one', 'two', 'one', 'two',
                'one', 'two', 'one', 'two']])
index = MultiIndex.from_tuples(tuples)
columns = MultiIndex.from_tuples([('A', 'cat'), ('B', 'dog'),
                                  ('B', 'cat'), ('A', 'dog')])
df = DataFrame(randn(8, 4), index=index, columns=columns)
df

In [49]:
df2 = df.ix[[0, 1, 2, 4, 5, 7]]
df2

In [50]:
df.unstack()['B']

GroupBy
=======

In [51]:
df = DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : np.random.randn(8),
                'D' : np.random.randn(8)})
df

In [52]:
for key, group in df.groupby('A'):
    print key
    print group

In [53]:
df.groupby('A')['C'].describe().T

In [54]:
df.groupby('A').mean()

In [55]:
for key, group in df.groupby('A'):
    print key
    print group

In [56]:
df.groupby(['A', 'B']).mean()

In [57]:
df.groupby(['A', 'B'], as_index=False).mean()

GroupBy example: linear regression by group
-------------------------------------------

In [58]:
import scikits.statsmodels.api as sm
rets = close_px / close_px.shift(1) - 1

def get_beta(rets):
    rets = rets.dropna()
    rets['intercept'] = 1.
    model = sm.OLS(rets['MSFT'], rets.ix[:, ['AAPL', 'intercept']]).fit()
    return model.params

get_beta(rets)

In [59]:
grouped = rets.groupby([lambda x: x.year, lambda x: x.month])
beta_by_ym = grouped.apply(get_beta)
beta_by_ym

In [60]:
beta_by_ym.unstack(0)['AAPL']

GroupBy with hierarchical indexing
----------------------------------

In [61]:
tuples = zip(*[['bar', 'bar', 'baz', 'baz',
                'foo', 'foo', 'qux', 'qux'],
               ['one', 'two', 'one', 'two',
                'one', 'two', 'one', 'two']])
index = MultiIndex.from_tuples(tuples)
columns = MultiIndex.from_tuples([('A', 'cat'), ('B', 'dog'),
                                  ('B', 'cat'), ('A', 'dog')])
df = DataFrame(randn(8, 4), index=index, columns=columns)
df

In [62]:
df.groupby(level=0, axis=0).mean()

In [63]:
df.stack()

In [64]:
df.stack().mean(1).unstack()

In [65]:
# could also have done
df.groupby(level=1, axis=1).mean()